config/fish/completions
config/fish/fish_variables
config/fish/functions
config/fish/conf.d/z.fish
config/fisher
config/anyenv
config/configstore/update-notifier-npm.json
config/jesseduffield/lazygit/state.yml

config/coc/*

config/configstore

config/fish/conf.d/fzf.fish
config/fish/conf.d/fzf_key_bindings.fish

config/gatsby

config/gcloud

.vagrant
*.log
